<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="Utilities.ExtentReport"/>
</listeners>
  <test thread-count="5" name="Test">
      <parameter name="os" value="windows"/>
	  <parameter name="browser" value="chrome"/>
     
    <classes>

      
       <class name="Testcase.TC_001Doctor"/>
       <class name="Testcase.TC_002Surgeries"/>
       <class name="Testcase.TC_003Form"/> 
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->



















































































